body, html, p, h1, h2, h3, h4, h5, h6 {
    color: #212121;
}

h4 {
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 4px;
    background-color: #f1ece5;
    padding: 10px;
    border-radius: 5px;
    color: #062f19;
    text-shadow: 2px 2px #d2c89a;
}

h2 {
    font-size: 36px;
    font-weight: 500;
    color: #242907;
}

p {
    color: #212121;
    font-size: 20px;
}

nav {
    display: block;
    float: left;
    margin-bottom: 20px;
    overflow: visible;
    min-height: 40px;
    background-color: #f3f2eb;
    border: 1px solid #efe4bd;
    border-radius: 4px;
    padding-right: 20px;
    padding-left: 20px;
    width: 100%;	
}

nav button {
    float: right;
    padding: 7px 10px;
    margin-right: 5px;
    margin-left: 5px;
    color: #ffffff;
    background-color: #ededed;
    border-color: #e5e5e5 #e5e5e5 #bfbfbf;
}

nav button:hover {
    color: #dedede;
}

nav ul, aside ul {
    display: block;
    list-style-type: none;
    float: left;
}

nav ul li, aside ul li{
    display: block;
    list-style-type: none;
    float: left;
}

nav a {
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    display: block;
    float: left;
    padding: 10px 20px 10px;
    margin-left: -20px;
    font-size: 20px;
    font-weight: 200;
    text-shadow: 0 1px 0 #ffffff;
    color: #2b4242;
    text-decoration: none;
    background-color: #e6e6c8;
    margin-right: 40px;
    border-radius: 10px;
    margin-bottom: 15px;
}

nav a:hover {
    color: #dedede;
}

nav div {
    height: auto;
    overflow: visible;
    position: relative;
    transition: height 0.35s ease;
}

nav div p {
    float: right;
    line-height: 40px;
    color: #777777;
    margin: 0 0 10px;
}

nav div p a {
    color: #0088cc;
    text-decoration: none;
    line-height: 40px;
}

nav div ul {
    position: relative;
    left: 0;
    display: block;
    float: left;
    list-style: none;
    padding: 0;
    margin: 3px 0 10px 25px;
}

nav div ul li {
    float: left;
    line-height: 20px;
    list-style: none;
}
nav div {
	position:fixed;
	top:0;
	width:100%;
	z-index:1;
}

.dropdown1 {
	float: left;
	display: inline-block;
	cursor: pointer;
	position: static;
}

.dropdown1-content {
	color: #000;
	/* background-color: #018f49; */
	background-color: #e8d7d7;
	box-shadow: 0 4px 8px 0 rgba(105, 179, 119, 0.2),0 6px 20px 0 rgba(98, 182, 128, 0.19);
	cursor: auto;
	display: none;
	min-width: 80px;
	max-width: 160px;
	margin: 0;
	padding: 0;
	position: absolute;
	z-index: 900;
	margin-left: -90px;
	/* top: 44px; */
	top: 74px;
	border-radius: 15px;
}

.dropdown1-content a {
	display: block;
	margin: 5px 10px;
	width:80%;
	border-radius: 15px;
	background-color: #dedede;
	box-shadow: 2px 7px 7px #c3e3cf;
}

.dropdown1-content a:hover {
/*	background-color: #f1f1f1;
	background-color: #4CAF50;*/
	background-color: #dbedfb;
	}

.dropdown1:hover .dropdown1-content {
	display: inline-block;
}


main {
    padding-right: 20px;
    padding-left: 20px;
    width: 100%;
    margin-top: 60px;
    float: left;
    background-color: #e5e5e5;
}

aside {
    float: left;
    width: 100%;
    min-height: 1px;
    margin: 20px 0px 20px 0px;
    background-color: #f2f2f2;
    border-radius: 15px;
}

aside div {
    display: block;
    float: left;
    width: 100%;
    min-height: 30px;
    margin-left: 2.564102564102564%;
}

aside h3 {
    font-family: Georgia;
    color: #153b84;
    font-weight: bold;
    padding-left: 10px;
}

aside ul {
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 20px;
    list-style: none;
    padding: 0;
    font-size: 22px;
    width: 100%;
}

aside ul li {
    display: block;
    padding: 3px 15px;
    font-size: 14px;
    width: 75%;
}

aside ul li:nth-of-type(1){
    font-weight: bold;
    line-height: 20px;
    color: #999999;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
}

aside ul li a{
    text-decoration: none;
    border: none;
    padding: 2px 4px;
    color: #457547;
    margin: 2px 5px;
    transition: 0.7s;
    font-size: 18px;
    background-color: #e6e6cc;
    padding: 10px 5px 10px 5px;
    display: block;
    border-radius: 6px;
    width: 100%;
    margin: 10px 5px 10px 0px;
}

aside ul li a:hover{
    background-color: #3e8e41;
    color: #fff;
}

body > aside > ul:nth-of-type(1) {
    padding: 32px 0px 32px 0px;
}

body > aside > ul:nth-of-type(1) li{
    background-color: #e8ead5;
    border-radius: 5px;
    margin: 4px 5px 4px 5px;
    color: #9a9e87;
}

aside > section {
    padding: 4px 2px 4px 2px;
    border: 2px solid #dedede;
    background-color: #e1e1e1;
    border-radius: 10px;
    margin: 10px 20px 40px 20px;
    font-family: "Open Sans", "Roboto", sans-serif;
}

aside > section p {
    font-family: Trebuchet;
    vertical-align: top;
    padding: 4px 16px 4px 16px;
    margin: 0px;
    color: #394e20;
}

aside > section h6 {
    font-size: .8em;
    text-indent: 10px;
    margin: 0px;
    padding: 0px;
    color: #274816;
    font-weight: 600;
}

main, body > div  {
    display: block;
    float: left;
    width: 90%;
    min-height: 30px;
    margin-left: 2.564102564102564%;
    margin: 20px 0px 20px 0px;
    border-radius: 20px;
}

main a {
    color: #81aede;
    text-decoration: none;
    display: block;
    border-radius: 5px;
    padding: 5px;
    border: 2px solid #d3d4b1;
    background-color: #ece7d4;
    font-weight: 600;
}

main a:hover {
    background-color: #d5e43d;
    color: #2c5e94;
}

main header {
    text-align: center;
    background: #fafafa;
    border-radius: 15px;
}

main header h1 {
    font-family: "Arial";
    color: #009688;
}

main header p, main header ul li {
    font-family: "Verdana";
}


main header a {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    text-decoration: none;
    background-color: #86ad58;
    border-color: #4CAF50 #CDDC39 #CDDC39;
    padding: 11px 19px;
    font-size: 17.5px;
    border-radius: 6px;
}

main header a:hover  {
    background-color: #0088cc;
}

main header span {
    display: block;
    background-color: #eee;
    margin: 20px 10px 20px 10px;
    padding: 5px 20px 5px 0px;
    border-radius: 15px;
}

main header span ol {
    position: relative;
    list-style-type: none;
    display: inline-block;
    width: 75%;
    text-align: left;
}

main div header span ol li {
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    position: absolute;
}

main header span ol li:nth-of-type(1), main header span ol li:nth-of-type(3) {
    width: 0; 
    height: 0; 
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent; 
    margin-top: 50px;
}

main header span ol li:nth-of-type(1)  {
    border-right:30px solid #8BC34A;
    margin-top: 50px;
}

main header span ol li:nth-of-type(1):hover  {
    border-right:30px solid #89da2a;
    margin-top: 50px;
}

main div header span ol li:nth-of-type(3)  {
    border-left: 30px solid #8BC34A;
    margin-left: 90%;
}


main header span ol li:nth-of-type(3):hover  {
    border-left: 30px solid #89da2a;
}

main header span figure {
    display: none;
} 

main header span figure:nth-of-type(1) {
    display: block;
} 

main header span figure ul li {
    list-style-type: none;
}

main article > h2 {
    text-align: center;
    padding-top: 16px;
    padding-bottom: 16px;
    font-family: "Arial", "Arial Bold", sans-serif;
    color: #506b6f;
    background-color: #afdede;
    margin-top: 16px;
    margin-bottom: 64px;
}

main article {
    width: 100%;
    display: block;
    float: left;
}

main article section {
    float: left;
    box-shadow: 4px 3px 8px 1px #969696;
    -webkit-box-shadow: 4px 3px 8px 1px #969696;
    background-color: #f5f4f0;
}

main article:nth-of-type(even) section:nth-of-type(1) {
    background-color: #5080ff10;
}

main article:nth-of-type(even) section:nth-of-type(2) {
    background-color: #698eb310;
}

main article:nth-of-type(even) section:nth-of-type(3) {
    background-color: #87b8da10;
}

main article:nth-of-type(odd) section:nth-of-type(1) {
    background-color: #c2d4ea10;
}

main article:nth-of-type(odd) section:nth-of-type(2) {
    background-color: #b3e8ec10;
}

main article:nth-of-type(odd) section:nth-of-type(3) {
    background-color: #b7c0e810;
}

main article section h4 {
    text-align: center;
    font-family: "Helvetica";
}

main article section p {
    padding: 5px;
    color: #504e63;
}

main article section a{
    background-color: #f5f5f5;
    border: 1px solid #cccccc;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-bottom-color: #b3b3b3;
    color: #333333;
    cursor: pointer;
    display: block;
    padding: 4px 12px;
    font-size: 14px;
    line-height: 20px;
    margin: 0 auto;
    max-width: 50%;
    text-decoration: none;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
}

main article section a:hover, main article section a:focus{
	outline: thin dotted #333;
	outline-offset: -2px;
	color: #333333;
	background-position: 0 -15px;
	transition: background-position 0.1s linear;
}

main article > section > ul > li {
    list-style-type: none;
    border-bottom: 1px solid #d3ecb9;
    padding: 12px 5px 12px 5px;
}

main article> section> ul > li:nth-child(1) {
    color: #fff;
    background-color: #668c7a;
    padding: 32px 5px 32px 10px;
    font-size: 24px;
    text-align: center;
}

main > article > section > ul > li > h2 {
    color: #545d25;
}
main > article > section > ul {
    padding: 0px;    
}

main button {
    display: block;
    float: left;
    color: #715937;
    background-color: #b6e099;
    border-radius: 15px;
    padding: 4px 5px;
    margin: 5px 12px 15px 12px;  
    font-weight: 700;
    border-color: #e8e0a0;
}

main button:hover {
    background-color: #f5eac8;
    border-color: #c1dea8;
}

main > video, main > canvas {
    display: block;
    width: 25%;
    float: left;
    border: 1px solid #dedede;
    border-radius: 15px;
}
main > article > section > video,
aside > video {
    display: block;
    width: 100%;
}

div#chatBox{
    display: block;
    float: left;
    margin: 10px;
}

main button#disconnect, main button#hangup {
    background-color: #e4b988;
    color: #1c3111;    
}

body > div > fieldset {
    border-color: #ap892a;
    border-radius: 5px;
    background-color: #ebf3fb;
    margin: 40px 20px 40px 20px;
    
}

input[type="submit"] {
        width: 100px;
    margin: 0 auto;
    display: block;
    color: #0f382a;
    background-color: #f5f1cc;
    border-color: #d2c6b4;
    border-radius: 5px;
    padding: 20px 10px 20px 10px;
    font-weight: 600;
    letter-spacing: 1.4;
}

input[type="submit"]:hover {
    background-color: #a6d66f;
}

body > div > a {
    text-decoration: none;
    color: #2aa0d6;
    border-radius: 4px;
    background-color: #d9f3f7;
    padding: 8px 12px 8px 12px;
}
body > div > a:hover {
    color: #1b2529;
    background-color: #aaedf7;
}

body > h1, body > h2, body > a {
    display: block;
    float: left;
    width: 100%;
    font-size: 12px;
    text-align: center;
    font-size: 16px;
}

div fieldset form p {
    display: block;
    width: 100%;
    float: left;
}

div fieldset form p input, div fieldset form p textarea{
    display: block;
    width: 70%;
    float: right;
}

canvas {
    display: block;
    float: left;
    width: 300px;
    height: 300px;
}

main > iframe {
    width: 100%;
    height: 800px;
    border: none;
    overflow-y: auto;
    overflow-x: hidden;
}

body > h1, body > h2, body > p {
    width: 100%;
    display: block;
    float: left;
}

footer {
    display: block;
    float: left;
    width: 100%;
}
@media (min-width: 600px) {

    aside {
        display: block;
        width: 24.99%;
    }

    main, body > div  {
        width: 64.99%;
    }

    main article section {
        width: 29.99%;
        margin: 1%;
        border-radius: 5px;
        border-radius: 5px;
        border: 1px solid #a6a8d4;
        height: 100%;
        min-height: 100%;
    }
    
}
